# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Config y Secretos
.cdsapirc
.env
data_bsas/*.grib

# NO ignoramos los .nc para este proyecto académico
# data_bsas/*.nc
